body{
    background: black;
}
div h1 img{
 width: 120px;
 position: relative;
 left: 50%;
 transform: translateX(-50%);
}
ul {
 list-style: none;
}

#characterSelection{
    width: 500px;
    height: 500px;
    border: 1px solid red;
    position:absolute;
    top: 5%;
    left: 15%;
    color: white;
}

.hidden{
    display: none;
}
