.main{
    height: 700px;
    background: url("../images/background/space.jpg");
    background-size: cover;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main ul{
    list-style-type: none;
}

.main .logo2{
    width: 70px;
    position: fixed;
    left: 28%;
    top: 42%;
    transform: scaleX(-1);
}
.main ul li:first-child a{
    display: block;
    width: 150px;
    height: 90px;
    background: url('../images/logo/start2.png') no-repeat 0 0;
    background-size: contain;
}

.main ul li:first-child a:hover{
    display: block;
    width: 150px;
    height: 90px;
    background: url('../images/logo/start1.png') no-repeat 0 0;
    background-size: contain;
    
}

.main ul li:nth-child(2) a{
    display: block;
    width: 150px;
    height: 90px;
    background: url('../images/logo/collection2.png') no-repeat 0 0;
    background-size: contain;
}

.main ul li:nth-child(2) a:hover{
    display: block;
    width: 150px;
    height: 90px;
    background: url('../images/logo/collection1.png') no-repeat 0 0;
    background-size: contain;
}

.main ul li:nth-child(3) a{
    display: block;
    width: 150px;
    height: 90px;
    background: url('../images/logo/album2.png') no-repeat 0 0;
    background-size: contain;
}

.main ul li:nth-child(3) a:hover{
    display: block;
    width: 150px;
    height: 90px;
    background: url('../images/logo/album1.png') no-repeat 0 0;
    background-size: contain;
}

/* .main ul li:nth-child(4) a{
    display: block;
    width: 150px;
    height: 90px;
    background: url('../images/logo/out2.png') no-repeat 0 0;
    background-size: contain;
}

.main ul li:nth-child(4) a:hover {
    display: block;
    width: 150px;
    height: 90px;
    background: url('../images/logo/out2.png') no-repeat 0 0;
    background-size: contain;
} */
