/* chance */
#chance {
    background-image: url('../images/background/chance.png');
    width: 700px;
    height: 500px;
    position:absolute;
    top: 5%;
    left: 10%;
}

#chance p#yes-butoon img{
    width: 300px;
    position: absolute;
    bottom: 2%;
    left: 28%;
}

#chance p#no-butoon img{
    width: 50px;
    position: absolute;
    top: 5%;
    left: 90%;
}

#chance p#yes-butoon img:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}

#chance p#no-butoon img:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}