/* endScreenDefeat */
#endScreenDefeat {
    background-image: url('../images/background/gameover.png');
    width: 700px;
    height: 500px;
    position:fixed;
    top: 45px;
    left: 180px;
}

#endScreenDefeat p#restart-button img{
    width: 200px;
    position: absolute;
    bottom: 2%;
    left: 35%;
}

#endScreenDefeat p#restart-button img:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}