body{
    background: url("../images/background/space.jpg");
}

.main{
    height: 700px;
    background: url("../images/background/space.jpg");
    background-size: cover;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main ul{
    list-style-type: none;
}

.main .logo2{
    width: 70px;
    position: fixed;
    left: 28%;
    top: 42%;
    transform: scaleX(-1);
}
.main ul li:first-child a{
    display: block;
    width: 150px;
    height: 90px;
    background: url('../images/logo/start2.png') no-repeat 0 0;
    background-size: contain;
}

.main ul li:first-child a:hover{
    display: block;
    width: 150px;
    height: 90px;
    background: url('../images/logo/start1.png') no-repeat 0 0;
    background-size: contain;
    
}

.main ul li:nth-child(2) a{
    display: block;
    width: 150px;
    height: 90px;
    background: url('../images/logo/album2.png') no-repeat 0 0;
    background-size: contain;
}

.main ul li:nth-child(2) a:hover{
    display: block;
    width: 150px;
    height: 90px;
    background: url('../images/logo/album1.png') no-repeat 0 0;
    background-size: contain;
}

#talk{
    width: 700px;
    height: 500px;
    background: url("../images/background/citytile1.png");
    position:absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
}

#talk p#close img{
    width: 50px;
}

#talk p#close img:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}

#characterSelection{
    display: none;
    width: 700px;
    height: 500px;
    background: url("../images/background/pink2.png");
    position:absolute;
    top: 5%;
    left: 10%;
}

#characterSelection .characters{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateZ(-50%);
}

#characterSelection .characters img#ch1{
    position: absolute;
    left: 5%;
}

#characterSelection .characters img#ch1:hover, img#ch2:hover, img#ch3:hover, img#ch4:hover,img#ch5:hover{
    transition: all 0.5s ease 0s;
    transform: scale(2.0);
}

#characterSelection .characters img#ch2{
    position: absolute;
    left: 25%;
}

#characterSelection .characters img#ch3{
    position: absolute;
    left: 45%;
}

#characterSelection p#game-start img{
    width: 200px;
    position: absolute;
    bottom: 2%;
    left: 15%;
}

#characterSelection p#game-start img:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}

/* endScreenDefeat */
#endScreenDefeat {
    background-image: url('../images/background/gameover.png');
    width: 700px;
    height: 500px;
    position:absolute;
    top: 5%;
    left: 10%;
}

#endScreenDefeat p#restart-button img{
    width: 200px;
    position: absolute;
    bottom: 2%;
    left: 35%;
}

#endScreenDefeat p#restart-button img:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}

/* victory */
#victory {
    background-image: url('../images/background/victory.png');
    width: 700px;
    height: 500px;
    position:absolute;
    top: 5%;
    left: 10%;
}

#victory p#backto img{
    width: 200px;
    position: absolute;
    bottom: 2%;
    left: 35%;
}

#victory p#backto img:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}

/* chance */
#chance {
    background-image: url('../images/background/chance.png');
    width: 700px;
    height: 500px;
    position:absolute;
    top: 5%;
    left: 10%;
}

#chance p#yes-butoon img{
    width: 300px;
    position: absolute;
    bottom: 2%;
    left: 28%;
}

#chance p#no-butoon img{
    width: 50px;
    position: absolute;
    top: 5%;
    left: 90%;
}

#chance p#yes-butoon img:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}

#chance p#no-butoon img:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}

#video{
    width: 700px;
    height: 500px;
    position: absolute;
    top: 15%;
    left: 18%;
}

#video p#no-butoon2 img{
    width: 50px;
    position: absolute;
    top: 5%;
    left: 63%;
}

#video p#video-comment{
    position: absolute;
    top: 2%;
    left: 38%;
}

#video p#no-butoon2 img:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}

/* 캐릭터 소개 */
#intro1 img#introch1, #intro2 img#introch2, #intro3 img#introch3{
    width: 130px;
    position: absolute;
    top: 20%;
    right: 9%;
}

#intro1 img#name1, #intro2 img#name2, #intro3 img#name3{
    position: absolute;
    top: 45%;
    right: 0%;
}