#talk{
    width: 1024px;
    height: 576px;
    background: url("../images/background/citytile1.png");
    position:absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

#talk p#close img{
    width: 80px;
}

#talk p#close img{
    position: absolute;
    right: 1%;
}

#talk p#close img:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}

#talk p img{
    width: 120px;
}

#talk p#no1 img, #talk p#no2 img, #talk p#no3 img, #talk p#no4 img, #talk p#no5 img{
    position: absolute;
    bottom: 15%;
    left: 46%;
    width: 50px;
    height: 50px;
}

#talk p#no1 img:hover, #talk p#no2 img:hover, #talk p#no3 img:hover, #talk p#no4 img:hover, #talk p#no5 img:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.2);
}

#talk p#talk1 img, #talk p#talk2 img, #talk p#talk3 img, #talk p#talk4 img, #talk p#talk5 img{
    position: absolute;
    left: 25%;
    top : 6%;
    width: 500px;
}

#talk p#people1:hover, #talk p#people2:hover, #talk p#people3:hover, #talk p#people4:hover, #talk p#people5:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.5);
    
}

#talk p#people1 {
    position: absolute;
    bottom: 15%;
    right: 13%;
  }
  
  #talk #name1{
    position: absolute;
    top: 45%;
    right: 14%;
    width: 100px;
    height: 50px;
  }
  
  #talk p#people1:hover ~ p#name1{
    background: url("../images/people/yelin.png");
    background-size: cover;
  }


#talk p#people2{
    position: absolute;
    top: 20%;
    left: 16.5%;
}

#talk #name2{
    position: absolute;
    top: 10%;
    left: 17%;
    width: 100px;
    height: 50px;
}

#talk p#people2:hover ~ p#name2{
    background: url("../images/people/dowon.png");
    background-size: cover;
}

#talk p#people3{
    position: absolute;
    top: 30%;
    right: 49%;
}

#talk #name3{
    position: absolute;
    top: 22%;
    left: 41%;
    width: 100px;
    height: 50px;
}

#talk p#people3:hover ~ p#name3{
    background: url("../images/people/yeonju.png");
    background-size: cover;
}

#talk p#people4{
    position: absolute;
    bottom: 10%;
    right: 35%;
    opacity: 0.6;
}

#talk #name4{
    position: absolute;
    bottom: 33%;
    right: 35%;
    width: 100px;
    height: 50px;
}

#talk p#people4:hover ~ p#name4{
    background: url("../images/people/chaewon.png");
    background-size: cover;
}

#talk p#people5{
    position: absolute;
    bottom: 5%;
    left: 16.5%;
}

#talk #name5{
    position: absolute;
    bottom: 28%;
    left: 17%;
    width: 100px;
    height: 50px;
}

#talk p#people5:hover ~ p#name5{
    background: url("../images/people/gyuuu.png");
    background-size: cover;
}

#talk #sogam1 img{
    position: absolute;
    width: 330px;
    top : 30%;
    left: 33%;
}

#talk #sogam2 img{
    position: absolute;
    width: 330px;
    top : 32%;
    left: 35%;
}

#talk #sogam3 img{
    position: absolute;
    width: 250px;
    top : 29%;
    left: 36%;
}

#talk #sogam4 img{
    position: absolute;
    width: 300px;
    top : 33%;
    left: 34.5%;
}

#talk #sogam5 img{
    position: absolute;
    width: 300px;
    top : 30%;
    left: 34.5%;
}